BasedOnStyle: WebKit
IndentWidth: 4
ContinuationIndentWidth: 4
ObjCBlockIndentWidth: 4
ConstructorInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ObjCSpaceAfterProperty: true
